In [1]:
import pandas as pd
data=pd.read_excel('Z:\Fuzzy-Data\My BI Project\DATA\Data.xlsx')
data=data.client_id
data=pd.DataFrame(data)
data.head()

                  client_id
0  hh4QgrDVdFOlJPW3v893OA==
1  hh4QgrDVdFOlJPW3v893OA==
2  hh4QgrDVdFOlJPW3v893OA==
3  hh4QgrDVdFOlJPW3v893OA==
4  hh4QgrDVdFOlJPW3v893OA==

In [2]:
data.client_id.value_counts()

AJjscgG50VL3sBguZROInQ==    10818
hh4QgrDVdFOlJPW3v893OA==     6996
TnfJmIANrX3o8mNreweYLg==     3296
Name: client_id, dtype: int64

In [3]:
BD=data.client_id.unique()
BD=pd.DataFrame(BD)
BD.columns=['Browser/Device']
BD

             Browser/Device
0  hh4QgrDVdFOlJPW3v893OA==
1  AJjscgG50VL3sBguZROInQ==
2  TnfJmIANrX3o8mNreweYLg==

In [4]:
#DOMAIN KNOWLEDGE: user guessed which browser/device it actually is by checking for specific websites that he searches from these specific browsers/devices
logo ={
    'CHROME': 'https://img.icons8.com/color/452/chrome--v1.png',
'ANDROID MOBILE':  'https://img.icons8.com/fluency/344/android.png',
'EDGE':'https://img.icons8.com/color/344/ms-edge-new.png'
}
tp ={
    'AJjscgG50VL3sBguZROInQ==': 'CHROME',
'hh4QgrDVdFOlJPW3v893OA==':  'ANDROID MOBILE',
'TnfJmIANrX3o8mNreweYLg==':'EDGE'
}

In [5]:
BD['Browser/Device'].replace(tp,inplace=True)
BD['Logo']=BD['Browser/Device'].replace(logo)
BD.to_excel('Device_Logo.xlsx',index=False,sheet_name='Logo')